@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-image: url(https://static.vecteezy.com/system/resources/previews/015/400/990/original/nightly-dark-blue-brick-wall-square-background-for-neon-lights-or-text-brickwork-texture-vector.jpg);
    background-position: center center; /*Se posiciona en X y en Y en el centro*/
    background-repeat: no-repeat; /*Para que no se repita la imagen*/
    background-size: cover; /*Para que ocupe la img toda la pagina */
    font-size: 16px;
    padding: 1rem 4rem;
}

/*HEADER*/

header h1 {
    box-shadow:  3px 4px 20px 2px rgb(15, 8, 26); /*Eje x, eje Y, Tamaño de sombra, Borde de la sombra y color*/
    color: white;
    letter-spacing: 0.25rem;
    font-size: 3.5rem !important;
    font-family: 'Nosifer', sans-serif;
    text-align: center;
    margin-top: 0;
}

/*CUERPO PAGINA*/

section {
    align-content: center;
    background-color: #5a5a5a50 !important;
    box-shadow:  3px 4px 20px 2px #6a86cc;
    display: inline-flex; /*Movimiento predecible y adaptable*/
    padding: 1rem 0 1rem 0;
    width: 100%;
    justify-content: center;
}

h2 {
    align-items: center;
    color: rgba(242, 235, 235, 0.794);;
    display: flex;
    letter-spacing: 0.2rem;
    justify-content: center !important;
    margin: 0;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-transform: uppercase;
    text-orientation: upright; /*Vertical*/
    writing-mode: vertical-rl; /*Quiero que el texto este alineado de forma vertical*/
}

@media (min-width: 200px) and (max-width: 1224px) { /*Quiero que cuando se achique la pantalla hasta 200px el contenido se vea de forma vertical los section y el h2 de forma horizontal*/
    html { /*Para que ocupe toda la pantalla*/
        padding: 0.5rem;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    h2 {
        text-align: center;
        text-orientation: horizontal;
        writing-mode: horizontal-tb;
    }
}

/*ESTILO DE CAJA DE CADA JUEGO*/

.section-container {
    align-items: center;
    background: linear-gradient(#3d6986, #a3aeb8);
    box-shadow:  3px 4px 20px 2px rgb(97, 111, 220);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem 1rem 2rem;
    padding: 0;
}

.p-container {
    border-bottom: 2px ridge rgba(242, 235, 235, 0.794);;
    color: rgba(242, 235, 235, 0.794);;
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: end !important;
    letter-spacing: 0.25rem;
    width: 96%;
}

img {
    width: 90%; /*El % permite que la imagen se vaya ajustando a la pagina y no tenga un limite*/
    height: auto;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.text-container {
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.8rem;
    width: 90%;
}

a {
    background-color: rgb(23, 83, 17);
    border-radius: 20%;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

a:hover {
    background-color: blue;
    font-size: 1.7rem;
    font-weight: 900;
}

/*FOOTER*/

footer p {
    background-color: #0f53814a;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: italic;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
}