* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #F62B6B;
}

header h1 {
    align-items: center;
    background-color: #CB2561;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 3rem;
    margin: 3rem;
}

section {
    align-items: center;
    background-color: #CB2561;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.section-container {
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0 1rem 1rem 1rem;
    width: 96%;
}

h2 {
    color: white;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: start !important;
}

img {
    width: 98%;
}

.p-container {
    width: 96%;
    display: flex;
    font-weight: 600;
    font-size: 1rem;
    color: #9A2836;
    justify-content: end !important;
    border-bottom: 2px dotted #9A2836;
}

.text-container {
    font-weight: 400;
    margin: 0.8rem;
    line-height: 1.5rem;
}

a {
    background-color: rgb(2, 86, 2);
    color: aliceblue;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

a:hover {
    background-color: #CB2561;
    font-size: 1.5rem;
}