* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #ac4062;
    padding: 2rem;
}

/*HEADER*/

header {
    background-image:url(../img/fongoMK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 35%;
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    background-color: #20141957;
    border-radius: 50%;
    color: rgb(224, 220, 220);
    font-size: 5rem;
    margin: 0.5rem;
    padding: 2.5rem;
    text-align: center;
}

/*PRIMER TEXTO*/

section {
    box-shadow:  3px 4px 20px 2px #af9ea8;
    padding: 1rem;
    margin: 2rem 1.6rem 1.5rem 1.6rem;
}

section p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    
}

.section2-container {
    background-color: #fdfdfdbd;
    border: 1px solid rgba(0, 0, 0, 0.379);
}

/*SECCION COMPRAR*/

.div-container {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondoenfrentados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center !important;
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0;
    width: 100%;
}

.caja-container {
    background-color: rgba(125, 114, 124, 0.828);
    border-radius: 15%;
    box-shadow:  3px 4px 30px 7px #7e546e;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    flex-direction: column;
}

div section h2 {
    font-weight: 900;
    flex-direction: column;
    text-align: center; 
}

.img-juego {
    height: auto;
    width: 350px;
}

.p-container {
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
}

a {
    background-color: rgb(2, 86, 2);
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
}

a:hover {
    background-color: #CB2561;
    font-size: 2.5rem;
    border: 3px solid #770730;
}

h2 {
    color: rgb(40, 15, 29);
    display: flex;
    font-size: 1.5rem;
    justify-content: start !important;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
}

/*GALERIA DE IMAGENES*/

.section-gallery{ 
    align-items: center;
    column-gap: 20px;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    flex-wrap: wrap;
}

.item-galery {
    display: flex;
    scroll-snap-align: center;
    min-width: 100%;
    flex-wrap: nowrap;
}

.gallery-img{
    align-items: center;
    border-radius: 5%;
    width: 15rem;
    height: 10rem;
    margin: 5px;
    object-fit: cover;
}


.gallery-img:hover{
    cursor: crosshair;
    height: 12rem;
    width: 15rem;
}

/*Scroll personalizado*/

.section-gallery::-webkit-scrollbar {
    background-color: #F86F97;
    height: 16px;
    width: 1rem !important;
}

.section-gallery::-webkit-scrollbar-thumb { /*La barra*/
    background-color: #5e0f29;
    border-radius: 10%;
}

.section-gallery::-webkit-scrollbar-track-piece {
    background-color: rgb(125, 19, 68);
    background-clip: content-box;
    border-radius: 2px;
    border-radius: 6px;
    border: solid 4px transparent;
  }

 /*DESCRIPCION DEL JUEGO*/

 ul li {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 1rem;
}

.a-inicio-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.a-inicio-container a {
    background-color: rgb(114, 62, 74);
    margin: 1rem;
}

/*FOOTER*/

footer p {
    background-color: #F86F97;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 3rem 1rem 3rem;
    padding: 1.5rem;
    text-align: center;
}
