* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #F62B6B;
    padding: 2rem;
}

header {
    background-image: url(https://i.blogs.es/a1117e/super-mario-bros.-2023/1366_2000.jpeg);
    background-size: cover;
    height: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 50%;
    background-position-x: 50%;
}

header h1 {
    background-color: #cb256257;
    border-radius: 50%;
    color: white;
    font-size: 5rem;
    margin: 0.5rem;
    padding: 2.5rem;
    text-align: center;
}

.section2-container {
    background-color: #fdfdfdbd;
    border: 1px solid rgba(0, 0, 0, 0.379);
}

h2 {
    color: rgb(71, 30, 54);
    display: flex;
    justify-content: start !important;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
}

section {
    background-color: #b7b4b563;
    box-shadow:  3px 4px 20px 2px #cc6aa5;
    padding: 1rem;
    margin: 2rem 1.6rem 1rem 1.6rem;
}

section p {
    letter-spacing: 0.5px;
    line-height: 1.4em;
}

.div-container {
    display: flex;
    justify-content: center !important;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/mario.kart9.jpg);
}

.caja-container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 254, 0.698);
    box-shadow:  3px 4px 30px 7px #cc6aa5;
    border-radius: 15%;
    padding: 2rem;
    margin: 1rem;
    flex-direction: column;
}

.img-juego {
    width: 350px;
    height: auto;
}

.p-container {
    font-weight: 900;
    text-align: center;
}

div h2 {
    text-align: center; 
    flex-direction: column;
}

a {
    background-color: rgb(2, 86, 2);
    color: aliceblue;
    text-align: center;
    height: 50px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

a:hover {
    background-color: #CB2561;
    font-size: 2.5rem;
    border: 3px solid #770730;
}


.section-gallery{ 
    align-items: center;
    column-gap: 20px;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    flex-wrap: wrap;
}

.item-galery {
    display: flex;
    scroll-snap-align: center;
    min-width: 100%;
    flex-wrap: nowrap;
}

.gallery-img{
    align-items: center;
    border-radius: 5%;
    box-shadow:  3px 4px 20px 2px #b6c0d78b;
    width: 15rem;
    height: 10rem;
    margin: 5px;
    object-fit: cover;
}


.gallery-img:hover{
    cursor: crosshair;
    height: 12rem;
    width: 18rem;
}


footer p {
    background-color: #F86F97;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
    margin: 1.5rem 3rem 1rem 3rem;
    padding: 1.5rem;
    text-align: center;
}

/*Scroll personalizado*/

.section-gallery::-webkit-scrollbar {
    background-color: #F86F97;
    height: 16px;
    width: 1rem !important;
}

.section-gallery::-webkit-scrollbar-thumb { /*La barra*/
    background-color: #5e0f29;
    border-radius: 10%;
}

.section-gallery::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-color: rgb(125, 19, 68);
    background-clip: content-box;
    border-radius: 6px;
    border: solid 4px transparent;
  }

