* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #F62B6B;
    padding: 1rem;
}

/*Header*/

header {
    align-items: center;
    background-image: url(/img/fondo3.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    display: flex;
    height: 370px;
    justify-content: center;
    width: 100%;
}

header h1 {
    background-color: #cb256257;
    border-radius: 50%;
    color: white;
    font-size: 5rem;
    margin: 0.5rem;
    padding: 2.5rem;
    text-align: center;
}

/*Texto inicio*/

section {
    background-color: #b7b4b563;
    box-shadow:  3px 4px 20px 2px #cc6aa5;
    padding: 1rem;
    margin: 2rem 0 1rem 0;
}

.section2-container {
    background-color: #fdfdfdbd;
    border: 1px solid rgba(0, 0, 0, 0.379);
}


section p {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    line-height: 2rem;
}

h2 {
    color: rgb(71, 30, 54);
    display: flex;
    font-weight: 800;
    font-size: 2rem;
    justify-content: center !important;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
}

/*Seccion Comprar*/

.div-container {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/mario.kart9.jpg);
    display: flex;
    justify-content: center !important;
    margin-bottom: 1rem;
    padding: 1rem 0 1rem 0;
    width: 100%;
}

.caja-container {
    background-color: rgba(255, 255, 254, 0.698);
    border-radius: 15%;
    box-shadow:  3px 4px 30px 7px #cc6aa5;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    flex-direction: column;
}

div section h2 {
    font-weight: 800;
    flex-direction: column;
    text-align: center; 
}

.img-juego {
    height: auto;
    width: 350px;
}

.p-container {
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

a {
    background-color: rgb(2, 86, 2);
    color: aliceblue;
    font-size: 2rem;
    font-weight: 500;
    height: 50px;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #CB2561;
    border: 3px solid #770730;
    font-size: 2.5rem;
}

/*Galeria de imagenes con scroll*/

.section-gallery{ 
    align-items: center;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: scroll;
}

.item-galery {
    display: flex;
    min-width: 100%;
    scroll-snap-align: center;
    flex-wrap: nowrap;
}

.gallery-img{
    align-items: center;
    border-radius: 5%;
    box-shadow:  3px 4px 20px 2px #b6c0d78b;
    width: 15rem;
    height: 10rem;
    margin: 5px;
    object-fit: cover;
}


.gallery-img:hover{
    cursor: crosshair;
    height: 12rem;
    width: 18rem;
}

/*Scroll personalizado*/

.section-gallery::-webkit-scrollbar {
    background-color: #F86F97;
    height: 16px;
    width: 1rem !important;
}

.section-gallery::-webkit-scrollbar-thumb { /*La barra*/
    background-color: #5e0f29;
    border-radius: 10%;
}

.section-gallery::-webkit-scrollbar-track-piece {
    background-color: rgb(125, 19, 68);
    background-clip: content-box;
    border-radius: 2px;
    border-radius: 6px;
    border: solid 4px transparent;
  }

  /*Descripcion Juego*/

  ul li {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: 1rem;
}

.a-inicio-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.a-inicio-container a {
    background-color: rgb(154, 85, 101);
    margin: 1rem;
}

/*Footer*/

footer p {
    background-color: #F86F97;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1.5rem 3rem 1rem 3rem;
    padding: 1.5rem;
    text-align: center;
}


